<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Telerik.DataAccess.Core" version="2016.1.224.1" targetFramework="net461" />
  <package id="Telerik.DataAccess.Fluent" version="2016.1.224.1" targetFramework="net461" developmentDependency="true" />
</packages>